.nav-link.active {
  color: red !important;
}

.hover-red {
  background-color: white; /* Initial background color */
  transition: background-color 0.2s ease; /* Smooth transition */
}

.hover-red:hover {
  background-color: red;
}
